# Force LF endings for every text file, regardless of the committing
# machine's core.autocrlf setting. Without this, files committed from
# Windows (core.autocrlf=true) keep a CRLF working-tree copy there while
# the blob itself stores LF; a WSL git client (core.autocrlf=false) then
# compares the raw CRLF-on-disk bytes against that LF blob and reports
# every such file as permanently "modified" - exactly what happened
# before this rule covered .gitconfig/README.md/LICENSE/AppData/etc., in
# addition to the Linux-path files below which strictly require LF
# (zsh/lazygit/helix on Linux don't tolerate CRLF).
* text=auto eol=lf
.zshrc text eol=lf
.config/** text eol=lf
